@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

:root {
  --grey: #303032;
  --green: #2e7758;
  --green-1: #6ca589;
  --black: #080808;
  --black-2: #201c1b;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--black);
  font-family: 'Share Tech', cursive;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 15px;
  font-size: 13px;
}

.dashboard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.loadButton {
  width: 200px !important;
  padding: 15px 20px !important;
  border-radius: 20 !important;
  font-size: 18px !important;
  background-color: var(--green) !important;
}

.mr {
  margin-top: 25px;
  margin-bottom: 10px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
}

.button button {
  width: 150px;
  background: var(--black);
  color: white;
  border-radius: 15px;
  border: 2px solid var(--black);
  padding: 6px;
  font-size: 15px;
  font-family: inherit;
  cursor: pointer;
  transition: 0.2s;
}

.center {
  display: flex;
  justify-content: center;
}

.error {
  color: red;
  font-size: 10px;
  margin-left: 10px;
}

.red {
  color: red;
}
