.search {
  padding: 40px 0 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search input {
  height: 40px;
  width: 280px;
  border: 3px solid var(--grey);
  padding: 0px 10px;
  outline: none;
  box-shadow: 0 0 10px var(--green);
}

.search input:active {
  outline: none;
}

.searchedCard {
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconDiv {
  height: 40px;
  width: 30px;
  background-color: var(--grey);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px var(--green);
}

.icon {
  color: white;
}

.icon:hover {
  cursor: pointer;
}
