.form-1 {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.form-1 label,
input {
  display: block;
}

.form-1 input {
  outline: none;
  width: 220px;
  height: 30px;
}

.form-1 label {
  margin: 10px;
}

.form-button {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
